<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameAreaInfo2</key>
	<dict>
		<key>MainAreaPosition</key>
		<dict>
			<key>X</key>
			<integer>384</integer>
			<key>Y</key>
			<integer>224</integer>
		</dict>
	</dict>
	<key>MatchButtonInfo</key>
	<dict>
		<key>FileName2</key>
		<string>matchButton%@.png</string>
		<key>FileName3</key>
		<string>gur-project-%@.png</string>
		<key>FileName</key>
		<string>katongxiaodongwu_%02d.png</string>
		<key>FileName5</key>
		<string>build%02d.png</string>
		<key>BeginId</key>
		<integer>1</integer>
		<key>EndId</key>
		<integer>23</integer>
	</dict>
	<key>MatchDifficulty</key>
	<integer>0</integer>
</dict>
</plist>
